
FIREBASE_PROJECT_ID=
FIREBASE_PRIAVTE_KEY_ID=
FIREBASE_PRIAVTE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=

DEVICE_ID=

SKIP_VIDEOS=false
BASE_ANIMATION_DURATION=1000
ENABLE_LOGGER=false

GITHUB_TOKEN=

INPUT_VIDEO_ROTATION=90
INPUT_VIDEO_ZOOM_FACTOR=2

FACE_RECOGNITION_CHECK_INTERVAL=1
FACE_RECOGNITION_LOGOUT_TIME_WINDOW=3
FACE_RECOGNITION_MAX_FACE_ANGLE=30
FACE_RECOGNITION_MAX_FACE_DISTANCE=0.5